<!DOCTYPE html>
<html>
	<head>
		<title>Working title</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body ng-app="MDPHack2015">
		<div class="content" >

		</div>
	    <nav class="navbar navbar-inverse">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Product Name</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse" >
	          <ul class="nav navbar-nav">
	            <!-- <li><a href="#">Home</a></li> -->
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

	    <div ng-controller="MainController">
		    <div class="container">
		    	<div class="" ng-repeat="appt in latestAppointments">
		    		<div class="inline-block">[[appt.PatientName]]</div>
		    		<div class="inline-block">[[appt.Time | date: 'medium']]</div>
		    		<div class="btn btn-default" ng-click="showEmail(appt.ID)">Send Follow Up Email</div>
		    		<div ng-show="Selections.selectedAppt == appt.ID">
					    <div>To: [[appt.Name]]</div>
					    <h2>Subject</h2>
					    <div>Blah blha blah</div>
		    		</div>
		    	</div>
		    </div><!-- /.container -->
	    </div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='MainService.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='MainController.js')}}"></script>
	</body>
</html>

